<!-- <div>
  <form>
    <div mat-dialog-content>
      <mat-form-field>
        <input [id]="'inputString' + '7a51e198-d9f4-4b73-a6e0-e463022b969a'" matInput />
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="button">
      <button
        [id]="'cancel_' + '7a51e198-d9f4-4b73-a6e0-e463022b969a'"
        class="button"
        mat-raised-button
        color="accent"
        (click)="onNoClick()"
      >
        Cancel
      </button>
      <button [id]="'save_' + '7a51e198-d9f4-4b73-a6e0-e463022b969a'" mat-raised-button color="primary" (click)="onNoClick()">Save</button>
    </div>
  </form>
</div> -->
