<ng-container *ngIf="workflowConnectors">
  <!-- other types of schemaValidators can be integrated later-->

  <mat-card class="mt-3 mat-elevation-z0 outline validatorWrapper" *ngFor="let val of crossSchemaValidators; let i = index">
    <button class="close-btn" (click)="removeValidator(i)">
      <app-icon [name]="'trash'"></app-icon>
    </button>

    <b class="mb-2">{{ i + 1 }}. {{ 'Cross Validator' | translate }}</b>
    <br />
    <app-cross-schema-validator
      [validatorData]="val"
      [workflowConnectors]="workflowConnectors"
      [currentSchemaFields]="fields"
      [currentSchema]="schema"
      (emitter)="validatorEmitted($event, i)"
    ></app-cross-schema-validator>
  </mat-card>

  <button class="mt-2 mb-2" mat-stroked-button matRipple (click)="addValidator()" matTooltip="{{ 'New Validator' | translate }}">
    <app-icon [name]="'add'"></app-icon>
    {{ 'New Validator' | translate }}
  </button>
</ng-container>
