<!-- <mat-slide-toggle
  [id]="'toggle_' + componentId"
  [(ngModel)]="item.configuration.required"
  [checked]="!!item.configuration ? (item.configuration.required ? true : false) : false"
  (ngModelChange)="onChange()"
  color="primary"
  style="width: 100%"
  >Required
</mat-slide-toggle>

<mat-form-field style="margin-top: 15px; width: 60%">
  <input
    [id]="item.configuration.value + '_' + componentId"
    matInput
    type="text"
    placeholder="Placeholder"
    [(ngModel)]="item.configuration.value"
    (ngModelChange)="onChange()"
  />
</mat-form-field> -->
