.submit-wrapper {
  text-align: right;
  padding-top: 10px;
}

.sorting-page-buttons {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.sorting-page-btn-radio {
  padding: 5px;
}

.col-lg-12 {
  padding: 0 10px;
}
