<!-- <app-string-field-case-wrapper
  [fieldWrapper]="wrapper"
  *ngIf="field.metadata.type === FieldTypeIds.StringField"
  [fieldControlApiData]="fieldControlData"
  [canEditField]="readonly"
></app-string-field-case-wrapper>

<app-int-field-case-wrapper
  *ngIf="field.metadata.type === FieldTypeIds.IntField"
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  [canEditField]="readonly"
></app-int-field-case-wrapper>

<app-decimal-field-case-wrapper
  *ngIf="field.metadata.type === FieldTypeIds.DecimalField"
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  [canEditField]="readonly"
></app-decimal-field-case-wrapper>

<app-bool-field-case-wrapper
  *ngIf="field.metadata.type === FieldTypeIds.BoolField"
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  [canEditField]="readonly"
></app-bool-field-case-wrapper>

<app-date-field-case-wrapper
  *ngIf="field.metadata.type === FieldTypeIds.DateField"
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  [canEditField]="readonly"
></app-date-field-case-wrapper>

<app-file-field-case-wrapper
  #fileFieldComp
  *ngIf="field.metadata.type === FieldTypeIds.FileField"
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  [canEditField]="readonly"
></app-file-field-case-wrapper>

<app-list-field-case-wrapper
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  [canEditField]="readonly"
  *ngIf="field.metadata.type === FieldTypeIds.ListField"
></app-list-field-case-wrapper>

<app-textarea-field-case-wrapper
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  *ngIf="field.metadata.type === FieldTypeIds.TextareaField"
  [canEditField]="readonly"
></app-textarea-field-case-wrapper>

<app-time-field-case-wrapper
  [fieldControlApiData]="fieldControlData"
  [fieldWrapper]="wrapper"
  *ngIf="field.metadata.type === FieldTypeIds.TimeField"
  [canEditField]="readonly"
></app-time-field-case-wrapper> -->
