<!-- <mat-form-field>
  <input
    [id]="'inputMin_' + componentId"
    matInput
    type="text"
    placeholder="Pick a min time"
    [ngxTimepicker]="pickerMin"
    [(ngModel)]="minInput"
    (ngModelChange)="onChangeMin()"
  />
  <ngx-material-timepicker #pickerMin></ngx-material-timepicker>
</mat-form-field>

<mat-form-field>
  <input
    [id]="'inputMax_' + componentId"
    matInput
    type="text"
    placeholder="Pick a max time"
    [ngxTimepicker]="pickerMax"
    [(ngModel)]="maxInput"
    (ngModelChange)="onChangeMax()"
  />
  <ngx-material-timepicker #pickerMax></ngx-material-timepicker>
</mat-form-field> -->
