<!-- <mat-form-field>
  <mat-label>{{ field.displayName || field['fieldName'] }}</mat-label>
  <input
    [id]="'date_' + componentId"
    matInput
    placeholder="Choose date and time"
    [ngxMatDatetimePicker]="picker"
    #date="ngModel"
    [(ngModel)]="field.value"
    (ngModelChange)="onChange()"
    required
    readonly
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
</mat-form-field>

<mat-error *ngIf="date.invalid"> field is required!</mat-error> -->
