<!-- <mat-form-field>
  <input
    [id]="'min_' + componentId"
    matInput
    min="0"
    type="number"
    placeholder="Min Value"
    [(ngModel)]="model.min"
    #min="ngModel"
    (change)="onChange()"
    required
  />
  <mat-error *ngIf="min.invalid"> Min Value is required </mat-error>
</mat-form-field>

<mat-form-field>
  <input
    [id]="'max_' + componentId"
    matInput
    min="0"
    type="number"
    placeholder="Max Value"
    [(ngModel)]="model.max"
    #max="ngModel"
    (change)="onChange()"
    required
  />
  <mat-error *ngIf="max.invalid"> Max Value is required </mat-error>
</mat-form-field> -->
