<!-- <div>
  <mat-form-field *ngIf="isName && searchByName" appearance="outline">
    <mat-label>Search</mat-label>
    <input [id]="'inputSearch_' + componentId" matInput color="primary" [formControl]="searchByName" />
  </mat-form-field>

  <mat-form-field class="from" *ngIf="isDate && searchFrom" appearance="outline">
    <mat-label>From</mat-label>
    <input [id]="'inputFrom_' + componentId" matInput [matDatepicker]="from" placeholder="Choose a date" [formControl]="searchFrom" />
    <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
    <mat-datepicker #from></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="isDate && searchTo" appearance="outline">
    <mat-label>To</mat-label>
    <input [id]="'inputTo_' + componentId" matInput [matDatepicker]="to" placeholder="Choose a date" [formControl]="searchTo" />
    <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
    <mat-datepicker #to></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="isCreator && searchCreator" appearance="outline">
    <mat-label>Case creator name</mat-label>
    <input [id]="'inputAuthor_' + componentId" matInput color="primary" [formControl]="searchCreator" />
  </mat-form-field>
</div> -->
