::ng-deep {
  formly-form formly-field {
    width: 100%;
  }

  // .mat-tab-body.mat-tab-body-active{
  //   z-index:initial
  // }

  .rules-wrapper {
    padding-top: 20px;
    padding-right: 20px;
  }
}
