<!-- <mat-form-field style="width: 45%">
  <input
    [id]="'inputMin_' + componentId"
    [(ngModel)]="item.configuration.min"
    matInput
    type="number"
    min="0"
    placeholder="Min Value"
    (ngModelChange)="onChange()"
  />
</mat-form-field>
<mat-form-field style="width: 45%; margin-left: 15px">
  <input
    [id]="'inputMax_' + componentId"
    [(ngModel)]="item.configuration.max"
    matInput
    type="number"
    min="0"
    placeholder="Max Value"
    (ngModelChange)="onChange()"
  />
</mat-form-field> -->
