<!-- <ng-container *ngIf="view$ | async as view; else loading">
  <form class="" [@fadeIn] [formGroup]="view.caseDefinition.form">
    <formly-form
      class="row"
      [form]="view.caseDefinition.form"
      [fields]="view.caseDefinition.fields"
      [model]="view.caseDefinition.model"
    ></formly-form>
  </form>
  <ng-container *ngIf="view.caseForm$ | async as case">
    <form class="" [formGroup]="case.form">
      <formly-form class="row" [form]="case.form" [fields]="case.fields" [model]="case.model"></formly-form>
    </form>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div [@fadeIn] class="w-100 h-100 d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template> -->
