<!-- <h2 mat-dialog-title>Raw Data Items</h2>

<mat-dialog-content>
  <app-case-grid [dataColumns]="data.items" [itemsWithValues]="data.itemsWithValues"></app-case-grid>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button [id]="'redirect_' + componentId" mat-flat-button class="mr-2" color="primary" (click)="redirect()">Go to Case</button>
  <button [id]="'cancel_' + componentId" mat-stroked-button color="primary" (click)="dialogRef.close()">Cancel</button>
</mat-dialog-actions> -->
