<!-- <div class="row p-0">
  <app-draggable-list-source
    class="col-xl-4 p-0"
    [listId]="sourceListId"
    [stateSelector]="adminSelector"
    [fieldSelector]="adminFieldSelector"
    [connectedTo]="[targetListId]"
    (updatePositions)="updatePositions()"
    (fieldsChange)="onSourceFieldsChange($event)"
    (itemDrop)="drop($event)"
  ></app-draggable-list-source>
  <app-draggable-list-target
    class="col-xl-8 p-0"
    [listId]="targetListId"
    [stateSelector]="targetSelector"
    [fieldSelector]="targetFieldSelector"
    [connectedTo]="[sourceListId]"
    [sortFn]="targetSorting"
    (fieldsChange)="onTargetFieldsChange($event)"
    (itemDrop)="drop($event)"
  ></app-draggable-list-target>
</div> -->
