<!-- <form [formGroup]="validatorForm">
  <mat-form-field>
    <input
      [id]="'inputMin_' + componentId"
      matInput
      type="number"
      placeholder="Min Length"
      formControlName="min"
      (change)="onChange()"
      required
    />
    <mat-error *ngIf="min.invalid && min.errors.required"> Min Length is required </mat-error>

    <mat-error *ngIf="min.invalid && min.errors.min"> Min positive value is required </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      [id]="'inputMax_' + componentId"
      matInput
      type="number"
      placeholder="Max Length"
      formControlName="max"
      (change)="onChange()"
      required
    />
    <mat-error *ngIf="max.invalid && max.errors.required"> Min Length is required </mat-error>

    <mat-error *ngIf="max.invalid && max.errors.min"> Min positive value is required </mat-error>
  </mat-form-field>
</form> -->
