<form [formGroup]="actionHandlerForm">
  <mat-form-field>
    <mat-select [placeholder]="'Select Action To Be Processed When Trigger Event Fires' | translate" formControlName="actionType">
      <mat-option *ngFor="let action of actionTypes" [value]="action.key">
        {{ action.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'Name' | translate }}</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>

  <ng-container [ngSwitch]="actionHandlerForm.get('actionType').value">
    <ng-container *ngSwitchCase="handlerTypes.ProcessStepManipulation">
      <app-process-step-manipulation-handler
        [handlerData]="processStepManipulationData"
        [destination]="destination"
        [connector]="connector"
        (handlerDataEmitter)="stepHandlerDataUpdated($event)"
      ></app-process-step-manipulation-handler>
    </ng-container>

    <ng-container *ngSwitchCase="handlerTypes.CaseManipulation">
      <app-case-manipulation-handler
        [handlerData]="caseManipulationData"
        [destination]="destination"
        [source]="source"
        [connector]="connector"
        (handlerDataEmitter)="caseHandlerDataUpdated($event)"
      ></app-case-manipulation-handler>
    </ng-container>
  </ng-container>
</form>
