<!-- <mat-form-field>
  <mat-label>{{ field.displayName || field['fieldName'] }}</mat-label>
  <input
    [id]="'date_' + componentId"
    placeholder="Choose time"
    matInput
    #date="ngModel"
    [(ngModel)]="field.value"
    (ngModelChange)="onChange()"
    [ngxTimepicker]="fullTime"
    [format]="24"
    required
    readonly
  />
  <ngx-material-timepicker-toggle [for]="fullTime" matSuffix></ngx-material-timepicker-toggle>
  <ngx-material-timepicker #fullTime></ngx-material-timepicker>
</mat-form-field>

<mat-error *ngIf="date.invalid"> field is required! </mat-error> -->
