<!-- <form [formGroup]="addToCaseForm" (ngSubmit)="onSubmit(addToCaseForm.value.case)">
  <mat-card>
    <p>
      <strong>Add {{ 'Raw Data' | translate }} to Case</strong>
    </p>

    <mat-form-field matTooltip="Select case to add raw data to (Cases with status Approved are excluded).">
      <mat-label>Select a case</mat-label>
      <mat-select [id]="'select_' + componentId" formControlName="case" (selectionChange)="onCaseSelected($event.value)">
        <mat-option [id]="case.name + i + '_' + componentId" *ngFor="let case of cases; let i = index" [value]="case">
          {{ case.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>Selected Items to Add</p>
    <app-case-grid [dataColumns]="items" [itemsWithValues]="itemsWithValues"></app-case-grid>

    <div class="btn-submit-container">
      <button
        [id]="'submit_' + componentId"
        [disabled]="
          addToCaseForm.invalid ||
          isRawDataOnSingleCase ||
          isItemsExist ||
          isAddRawDataAllowedSupplier ||
          isAddRawDataAllowedAdmin ||
          isAddRawDataAllowedTenant ||
          isDoneApproved
        "
        mat-raised-button
        class="theme-color"
        type="submit"
      >
        Submit
      </button>
    </div>
    <mat-error *ngIf="isRawDataOnSingleCase"><strong>You can't add raw data items that are already in other case.</strong></mat-error>
    <mat-error *ngIf="isItemsExist"><strong>One or more items from the selected already exist on this case.</strong></mat-error>

    <mat-error *ngIf="isAddRawDataAllowedSupplier"><strong>Supplier can't add raw data to case created by other user.</strong></mat-error>
    <mat-error *ngIf="isAddRawDataAllowedAdmin"><strong>Admin can't add raw data to case created by other user.</strong></mat-error>
    <mat-error *ngIf="isAddRawDataAllowedTenant"><strong>Tenant can't add rawd ata to case created by other user</strong></mat-error>

    <mat-error *ngIf="isDoneApproved"><strong>Can't add raw data in case with status Done or Approved</strong></mat-error>
  </mat-card>
</form> -->
