<mat-expansion-panel class="mat-elevation-z0 mb-3">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>{{ 'Upload Tenant Logo' | translate }}</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="d-flex align-items-center py-3">
    <!-- <app-avatar [avatar_url]="image" isCompany="true" class="mr-4"></app-avatar> -->
    <div class="img-container mr-3">
      <span class="no-image" *ngIf="!image"></span>
      <img [src]="image" alt="" class="col-xl-12 px-0" />
    </div>

    <button [id]="'upload_' + componentId" *ngIf="!fileName" mat-flat-button color="primary" (click)="file.click()">
      {{ editOrAddText | translate }}
    </button>

    <button [id]="'save_' + componentId" *ngIf="fileName" mat-flat-button color="primary" (click)="onSaveClicked()" class="mr-3">
      {{ 'Update' | translate }}
    </button>
    <button [id]="'remove_' + componentId" *ngIf="fileName" mat-flat-button color="warn" (click)="onRemove()">
      {{ 'Remove' | translate }}
    </button>

    <input
      #file
      hidden
      type="file"
      accept=".jpg, .jpeg, .gif, .png, .bmp"
      (change)="onUpload($event)"
      (click)="$event.target.value = null"
    />
  </div>
</mat-expansion-panel>
