<!-- <h2 [id]="'header_' + componentId" mat-dialog-title>Confirm Navigation</h2>
<mat-dialog-content class="mat-typography">
  <h3>Are you sure you want to navigate without saving?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [id]="'yes_' + componentId"
    mat-flat-button
    color="primary"
    [mat-dialog-close]="true"
    class="mr-2"
    cdkFocusInitial
    (click)="onYesResponse()"
  >
    Yes
  </button>
  <button [id]="'cancel_' + componentId" mat-stroked-button color="primary" [mat-dialog-close]="false" (click)="onCancelResponse()">
    Cancel
  </button>
</mat-dialog-actions> -->
