.link-wrapper {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: solid thin #e0e0e0;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  app-icon {
    stroke: #fc4b6c;
    width: 18px;
    height: 18px;
  }
}
