<!-- <mat-form-field *ngIf="allowedRenderTypes.length > 0">
  <mat-label>Select field Render Type</mat-label>
  <mat-select [id]="'select_' + componentId" class="select" (selectionChange)="onRenderTypeSelected($event.value)" [(ngModel)]="renderType">
    <mat-option
      [id]="renderTypeConverter(allowedRenderType) + '_' + componentId"
      *ngFor="let allowedRenderType of allowedRenderTypes"
      [value]="allowedRenderType"
    >
      {{ renderTypeConverter(allowedRenderType) }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
