<app-wfm-grid
  *ngIf="workflowConnectors; else loading"
  #connectorsGrid
  [gridConfiguration]="connectorsGridSettings"
  [gridData]="gridData"
  [pageTitle]="'Workflow Connectors' | translate"
  gridAreaType="workflow-connectors"
  [actions]="gridActions"
  (actionEvent)="onActionClick($event)"
  (createBtnEmitter)="createConnector($event)"
  showCreateButton="true"
>
</app-wfm-grid>

<ng-template #loading>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
