<!-- <form [formGroup]="fieldForm" (ngSubmit)="onSubmit(fieldForm.value)">
  <p>Choose {{ model.name }} Validators</p>

  <mat-form-field style="margin-top: 15px">
    <input [id]="'inputMin_' + componentId" matInput type="number" placeholder="Min Occurances" formControlName="min" required />
    <mat-error *ngIf="min.errors?.required"> Min Occurances is required </mat-error>
  </mat-form-field>

  <mat-form-field style="margin-top: 15px">
    <input [id]="'inputMax_' + componentId" matInput type="number" placeholder="Max Occurances" formControlName="max" required />
    <mat-error *ngIf="max.errors?.required"> Max Occurances is required </mat-error>
  </mat-form-field>

  <div class="btn-submit-wrapper">
    <button mat-raised-button color="primary" [disabled]="fieldForm.invalid" type="submit">Save</button>
  </div>
</form> -->
