<div class="row h-100 overflow-auto">
  <div class="col-md-7 mx-auto py-3">
    <mat-card>
      <div class="row">
        <div class="col-md-5 mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{ 'Select Schema' | translate }}</mat-label>
            <mat-select [(ngModel)]="selectedSchemaId" (ngModelChange)="onSchemaChange($event)">
              <mat-option *ngFor="let schema of schemasData" [value]="schema.id">{{ schema?.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="selectedSchemaId">
        <div class="mb-3">
          <mat-label> {{ 'Supplier' | translate }} {{ 'Settings' | translate }}</mat-label>
          <app-mapping-settings-item
            [setting$]="setting$"
            [roleType]="RoleTypes?.Supplier"
            [schemaId]="selectedSchemaId"
            [schemas]="schemasData"
            (formValue)="onValueChange($event)"
          ></app-mapping-settings-item>
        </div>
        <div>
          <mat-label> {{ 'Auditor' | translate }} {{ 'Settings' | translate }}</mat-label>
          <app-mapping-settings-item
            [setting$]="setting$"
            [roleType]="RoleTypes?.Auditor"
            [schemaId]="selectedSchemaId"
            [schemas]="schemasData"
            (formValue)="onValueChange($event)"
          ></app-mapping-settings-item>
        </div>
      </div>
      <div class="mat-expansion-panel-footer">
        <button [id]="'save_' + componentId" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!isValid()">
          <app-icon [name]="'save'"></app-icon>
          {{ 'Save' | translate }}
        </button>
      </div>
    </mat-card>
  </div>
</div>
