.info-box {
  padding: 16px 16px 16px 64px;
  border: solid thin;
  border-radius: 4px;
  margin: auto;
  max-width: 800px;
  position: relative;
  font-size: 16px;
  &:before {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 28px;
    height: 28px;
  }
  &.info {
    background-color: rgba($info, 0.3);
    border-color: $info;
    color: darken($info, 15%);
    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%231360a4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='16' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12.01' y2='8'%3E%3C/line%3E%3C/svg%3E");
    }
  }
  &.error {
    background-color: rgba($danger, 0.3);
    border-color: $danger;
    color: darken($danger, 20%);
    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23dd042c' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z'%3E%3C/path%3E%3Cline x1='12' y1='9' x2='12' y2='13'%3E%3C/line%3E%3Cline x1='12' y1='17' x2='12.01' y2='17'%3E%3C/line%3E%3C/svg%3E");
    }
  }
}
