<!-- <mat-accordion>
  <mat-expansion-panel [id]="'panelImage_' + componentId" class="field-info mat-elevation-z0 mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title> Upload Image </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-image-wrapper">
      <h2>Form Image</h2>

      <div class="upload-wrapper">
        <button [id]="'upload_' + componentId" mat-raised-button color="primary" (click)="file.click()">Upload</button>
        <input #file hidden type="file" accept=".jpg, .jpeg, .gif, .png, .bmp" (change)="upload(file.files)" />
      </div>

      <img [src]="image" alt="" class="img" />
    </div>
  </mat-expansion-panel>
</mat-accordion> -->
