<!-- <div>
  <mat-form-field>
    <input
      [id]="'inputFrom_' + componentId"
      matInput
      [matDatepicker]="from"
      placeholder="From"
      [(ngModel)]="model.min"
      #fromDate="ngModel"
      (ngModelChange)="onChange()"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
    <mat-datepicker #from></mat-datepicker>
    <mat-error *ngIf="fromDate.invalid"> From date is required </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      [id]="'inputTo_' + componentId"
      matInput
      [matDatepicker]="to"
      placeholder="To"
      [(ngModel)]="model.max"
      #toDate="ngModel"
      (ngModelChange)="onChange()"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
    <mat-datepicker #to></mat-datepicker>
    <mat-error *ngIf="toDate.invalid"> To date is required </mat-error>
  </mat-form-field>
</div> -->
