<!-- <mat-form-field style="width: 60%">
  <input
    [id]="'inputDate_' + componentId"
    [(ngModel)]="item.configuration.date"
    matInput
    [matDatepicker]="datePicker"
    placeholder="Choose a date"
    (ngModelChange)="onChangeDate()"
  />
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>

<mat-form-field style="width: 60%">
  <input
    [id]="'inputTime_' + componentId"
    matInput
    type="text"
    placeholder="Pick time"
    [(ngModel)]="item.configuration.time"
    [ngxTimepicker]="timePicker"
    (ngModelChange)="onChangeTime()"
  />
  <ngx-material-timepicker #timePicker></ngx-material-timepicker>
</mat-form-field> -->
