<mat-expansion-panel class="mat-elevation-z0 mb-3">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4>{{ 'First Day Of Week' | translate }}</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="grid">
    <form class="add-form" [formGroup]="startWeekForm">
      <div class="row">
        <div class="col-md-12">
          <mat-radio-group
            [id]="'radio_' + componentId"
            formControlName="startOfWeek"
            class="start-page-buttons"
            (change)="startOfWeekUpdated()"
          >
            <mat-radio-button [id]="'sun_' + componentId" color="primary" [value]="startOfWeek.Sunday" class="start-week-btn-radio mr-3">
              {{ 'Sunday' | translate }}
            </mat-radio-button>

            <mat-radio-button [id]="'mon_' + componentId" color="primary" [value]="startOfWeek.Monday" class="start-week-btn-radio mr-3">
              {{ 'Monday' | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="mat-expansion-panel-footer">
        <button mat-flat-button color="primary" (click)="onSubmit()">
          <app-icon [name]="'save'"></app-icon>
          {{ 'Save' | translate }}
        </button>
      </div>
    </form>
  </div>
</mat-expansion-panel>
