<!-- <app-mapping-string-field
  *ngIf="field.valueType === fieldTypeIds.StringField"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-string-field>

<app-mapping-int-field
  *ngIf="field.valueType === fieldTypeIds.IntField && field.id !== 'status'"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-int-field>

<app-mapping-decimal-field
  *ngIf="field.valueType === fieldTypeIds.DecimalField"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-decimal-field>

<app-mapping-date-field
  *ngIf="field.valueType === fieldTypeIds.DateField"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-date-field>

<app-mapping-datetime-field
  *ngIf="field.valueType === fieldTypeIds.DateTimeField"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-datetime-field>

<app-mapping-time-field
  *ngIf="field.valueType === fieldTypeIds.TimeField"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-time-field>

<app-mapping-textarea-field
  *ngIf="field.valueType === fieldTypeIds.TextareaField"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-textarea-field>

<app-mapping-bool-field
  *ngIf="field.valueType === fieldTypeIds.BoolField"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-bool-field>

<app-mapping-list-field
  *ngIf="field.valueType === fieldTypeIds.ListField || field.id === 'status'"
  [field]="field"
  (isChanged)="onChange()"
></app-mapping-list-field> -->
