<!-- <button
  [id]="'filterOptions_' + componentId"
  mat-icon-button
  [ngStyle]="{ color: color }"
  [matMenuTriggerFor]="options"
  type="button"
  matTooltip="filter"
  matTooltipPosition="above"
>
  <mat-icon>filter_list</mat-icon>
</button>

<mat-menu #options="matMenu">
  <div>
    <button [id]="'byCaseName_' + componentId" mat-menu-item (click)="onNameClicked()">
      <mat-icon>sort_by_alpha</mat-icon>
      By case name
    </button>

    <button [id]="'byDate_' + componentId" mat-menu-item (click)="onDateClicked()">
      <mat-icon>today</mat-icon>
      By date
    </button>

    <button [id]="'byCaseAuthor_' + componentId" mat-menu-item (click)="onCreatorClicked()">
      <mat-icon>face</mat-icon>
      By case creator
    </button>
  </div>
</mat-menu>
 -->
