<!-- <mat-card>
  <p><strong>Create Case</strong></p>
  <app-case-form-editor class="" (update)="onCaseUpdate($event)"></app-case-form-editor>

  <p>Selected Items</p>
  <app-case-grid
    [dataColumns]="items"
    [itemsWithValues]="itemsWithValues"
    [allowActionsFor]="areaType.case"
    (itemToBeDeleted)="removeItem($event)"
  ></app-case-grid>

  <div class="btn-submit-container">
    <button [id]="'process_' + componentId" [disabled]="disabled" mat-raised-button color="primary" (click)="onSubmit()">
      <span>{{ buttonText }}</span>
    </button>
  </div>
  <mat-error *ngIf="isRawDataOnSingleCase">You can't add raw data items that are already in other case.</mat-error>
</mat-card> -->
