<!-- <app-search-buttons
  *ngIf="field.allowedSearchTypes.length > 1"
  [allowedSearchTypes]="field.allowedSearchTypes"
  [searchTypeIn]="searchType"
  (searchTypeOut)="onSearchTypeOut($event)"
></app-search-buttons>

<app-number-wrapper (isFieldChanged)="onFieldChanged()" [field]="field"></app-number-wrapper>

<app-decimal-wrapper (isFieldChanged)="onFieldChanged()" [field]="field"></app-decimal-wrapper>

<app-date-wrapper (isFieldChanged)="onFieldChanged()" [field]="field"></app-date-wrapper>

<app-date-time-wrapper (isFieldChanged)="onFieldChanged()" [field]="field"></app-date-time-wrapper>

<app-time-wrapper (isFieldChanged)="onFieldChanged()" [field]="field"></app-time-wrapper>

<app-str-field
  (isFieldChanged)="onFieldChanged()"
  [model]="field.searchFieldModel"
  *ngIf="field.type == fieldTypeIds.StringField && field.searchFieldModel.searchType == searchTypes.Like"
></app-str-field>

<app-boolean-field
  (isFieldChanged)="onFieldChanged()"
  [model]="field.searchFieldModel"
  [renderType]="field.configuration?.renderType"
  *ngIf="field.type == fieldTypeIds.BoolField && field.searchFieldModel.searchType == searchTypes.EqualTo"
></app-boolean-field>

<app-list-field
  (isFieldChanged)="onFieldChanged()"
  [model]="field.searchFieldModel"
  *ngIf="field.type == fieldTypeIds.ListField && field.searchFieldModel?.searchType == searchTypes.List"
></app-list-field>

<app-status-field
  (isFieldChanged)="onFieldChanged()"
  [model]="field.searchFieldModel"
  *ngIf="field.searchFieldModel.searchType == searchTypes.Custom && customSearchTypes.Status === field.searchFieldModel.customSearchType"
></app-status-field>

<app-external-key-field
  (isFieldChanged)="onFieldChanged()"
  [model]="field.searchFieldModel"
  *ngIf="
    field.searchFieldModel.searchType == searchTypes.Custom && customSearchTypes.ExternalKey === field.searchFieldModel.customSearchType
  "
></app-external-key-field> -->
