.drag-wrapper {
  margin: 0 -16px;
  p {
    flex: 1;
  }
}

.move {
  cursor: move;
}

.mat-dialog-content {
  height: 100% !important;
  display: block;
  margin: 0;
  padding: 0;
  max-height: none !important;
  overflow: auto;
}
