<ng-container *ngIf="data">
  <h2 mat-dialog-title *ngIf="data.isAlert">
    {{ 'Alert' | translate }}
  </h2>
  <h2 mat-dialog-title *ngIf="!data.isAlert">
    {{ 'Action Blocked' | translate }}
  </h2>

  <mat-dialog-content>
    <mat-list>
      <mat-list-item *ngFor="let item of data.failedValidators">
        <app-icon [name]="'delete'" class="danger" *ngIf="!data.isAlert"></app-icon>
        <app-icon [name]="'warning'" *ngIf="data.isAlert"></app-icon>
        <div matListItemLine class="ml-2">{{ item.message }}</div>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <ng-container *ngIf="data.isAlert">
      <button [id]="'yes_' + componentId" mat-flat-button color="primary" cdkFocusInitial (click)="onResponse(true)" class="mr-2">
        {{ 'Ignore and Proceed' | translate }}
      </button>
      <button [id]="'cancel_' + componentId" mat-stroked-button color="primary" (click)="onResponse(false)">
        {{ 'Cancel' | translate }}
      </button>
    </ng-container>

    <ng-container *ngIf="!data.isAlert">
      <button [id]="'cancel_' + componentId" mat-stroked-button color="primary" (click)="onResponse(false)">
        {{ 'Ok' | translate }}
      </button>
    </ng-container>
  </mat-dialog-actions>
</ng-container>
