<!-- <mat-form-field *ngIf="field.id !== 'status'">
  <mat-label>{{ field.displayName || field['fieldName'] }}</mat-label>
  <mat-select [id]="'select_' + componentId" [(ngModel)]="field.value" (selectionChange)="onFieldSelected()">
    <mat-option [id]="'option_' + i + '_' + componentId" *ngFor="let item of listItems; let i = index" [value]="item.item">
      {{ item.item }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="field.id === 'status'">
  <mat-label>{{ field.displayName || field['fieldName'] }}</mat-label>
  <mat-select [id]="'select_' + componentId" [(ngModel)]="field.value" (selectionChange)="onFieldSelected()">
    <mat-option [id]="'option_' + i + '_' + componentId" *ngFor="let item of statuses; let i = index" [value]="item.value">
      {{ item.status }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
