<div class="d-flex">
  <mat-form-field class="example-full-width">
    <input type="text" [placeholder]="'Select a tenant' | translate" matInput [formControl]="tenantIdControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onTenantChange($event)">
      <mat-option *ngFor="let option of filteredTenants | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
