<!-- <h2 mat-dialog-title>{{ title }}</h2>

<div class="spinner-wrapper">
  <mat-spinner [diameter]="25" *ngIf="!data.length"></mat-spinner>
</div>

<mat-dialog-content class="mat-typography" *ngIf="data.length">
  <div class="raw-data-preview">
    <div class="raw-data-preview-header">
      <div class="raw-data-preview-label">Name</div>
      <div class="raw-data-preview-value">Value</div>
    </div>

    <div class="raw-data-preview-content" *ngFor="let item of data">
      <div class="raw-data-preview-label">{{ item.name }}</div>
      <div class="raw-data-preview-value">{{ item.value }}</div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button [id]="'close_' + componentId" mat-flat-button color="primary" [mat-dialog-close]="false">Close</button>
</mat-dialog-actions> -->
