mat-card {
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 10px;
  white-space: normal;
}

.formula {
  color: green;
  font-weight: bold;
  font-size: 13px;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.param {
  color: green;
  font-size: 12px;
}

.description {
  font-size: 12px;
  white-space: normal;
}
